[flake8]
# General settings

# C: McCabe (code complexity)
# E,W: PyCodeStyle (Pep8 warnings/errors)
# F: PyFlakes (invalid Python code)
# I: Flake8-Import-Order (import ordering)
select = C,E,F,I,W

# E501: Pep8 80 character line length
ignore = E501

# PyCodeStyle settings

max-complexity = 10

# Flake8-Import-Order settings

# See https://mapaction.atlassian.net/browse/DATAPIPE-84 for discussion over these names
application-import-names = utils,pipeline_plugin,airflow.operators.pipeline_plugin,tests
import-order-style = google
