[flake8]
# General settings

# B: Fake8-BugBear (additional bugs / design issues)
# C: McCabe (code complexity)
# E,W: PyCodeStyle (Pep8 warnings/errors)
# F: PyFlakes (invalid Python code)
# I: Flake8-Import-Order (import ordering)
# S: Bandit (security footguns etc.)
select = B,C,E,F,I,W,S

# E501: Pep8 80 character line length - replaced by BugBear check
ignore = E501

# S101: Use of assert - ignored in tests due to PyTest
per-file-ignores = tests/*:S101

# Flake8-Bugbear

max-line-length = 120

# Flake8-Import-Order settings

# See https://mapaction.atlassian.net/browse/DATAPIPE-84 for discussion over these names
application-import-names = utils,pipeline_plugin,airflow.operators.pipeline_plugin,tests
import-order-style = google

# PyCodeStyle settings

max-complexity = 10
