---
version: "3.7"

services:
  airflow:
    build:
      context: .
      args:
        AIRFLOW_DEPS: kubernetes,gcp
    image: "mapaction-pipeline-airflow-local:latest"
    command: "webserver"
    ports:
      - "8080:8080"
    volumes:
      - ./plugins/:/home/airflow/gcs/plugins/
      - ./airflow_logic/:/home/airflow/gcs/airflow_logic/
      - ./dags_utils/:/home/airflow/gcs/dags_utils/
      - ./data/:/opt/data/
      - ./airflow_logic/dags/:/home/airflow/gcs/dags/
      - ./tests/:/home/airflow/gcs/tests/
      - ./.flake8:/home/airflow/gcs/.flake8
    environment:
      AIRFLOW__WEBSERVER__RELOAD_ON_PLUGIN_CHANGE: "True"
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "True"
      ENVIRONMENT: "LOCAL"
