hdx-python-api==5.8.1
numpy
pandas==1.0.3
geopandas==0.6.1
requests==2.28.1
PyYAML
rasterio
apache-airflow[kubernetes,gcp]==2.3.3
pytest==7.1.2
pycountry==20.7.3
google-cloud-storage
urllib3>=1.26
psycopg2-binary==2.9.3
