dirs:
  raw_data: raw_data
  processed_data: processed_data
  schemas: schemas

constants:
  crs: EPSG:4326

# Adding as empty values for now so that the DAGs don't break
hdx_cod:
  adm:
    address: null
    filename: null
    file_type: shp
  roads:
    address: null
    filename: null

adm_cod_raw: '{iso3}_cod_adm.zip'
adm0:
  schema: admin0_affected_area_py.yml
  cod:
    filename:
      category: admn
      theme: ad0
      geometry: py
      scale: s0
      source: unocha
      suffix: shp
    column_names:
      name_en: ADM0_EN
      pcode: ADM0_PCODE
adm1:
  schema: admin1_affected_area_py.yml
  cod:
    filename:
      category: admn
      theme: ad1
      geometry: py
      scale: s1
      source: unocha
      suffix: shp
    column_names:
      name_en: ADM1_EN
      pcode: ADM1_PCODE
      par_pcode: ADM0_PCODE

osm:
  url: 'http://overpass-api.de/api/interpreter?'
  roads:
    osm_tags: 'osm_tags_roads.yml'
    raw_osm: '{iso3}_osm_roads.xml'
    raw_gpkg: '{iso3}_osm_roads.gpkg'
    filename:
      category: tran
      theme: rds
      geometry: ln
      scale: s1
      source: osm
      suffix: shp
    column_names:
      name_en: 'name:en'
      name_loc: name
      fclass: highway


roads:
  schema: roads_affected_area_ln.yml
  cod:
    raw: '{iso3}_cod_roads.zip'
    filename:
      category: tran
      theme: rds
      geometry: ln
      scale: s1
      source: ocha
      suffix: shp
    column_names:
      name_en: null
      name_loc: null
      fclass: TYPE

srtm:
  altitude_light_deg: 315.0
  azimuth_light_deg: 45.0

# TODO: This shouldn't be needed for now
geoboundaries:
  adm0:
    raw: 'geobnd_adm0.zip'
  adm1:
    raw: 'geobnd_adm1.zip'
